esphome:
  name: room-sensor
  friendly_name: room_sensor

esp32:
  board: esp32-c6-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "x7dmEtUnraoTiORhJYHz7vtC5tRRsgen1eWqUg1EyWk="

ota:
  - platform: esphome
    password: "e07e7f460b2b8dd917edea576c4c2a43"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Room-Sensor Fallback Hotspot"
    password: "viXdy4Uy5Z67"

captive_portal:

external_components:
  - source:
      type: local
      path: components

uart:

  - id: uart_bus
    tx_pin: GPIO19
    rx_pin: GPIO20
    baud_rate: 9600

  - id: uart_bus_ld2410
    tx_pin: GPIO5
    rx_pin: GPIO7
    baud_rate: 256000 
    parity: NONE
    stop_bits: 1

i2c:
  sda: GPIO22
  scl: GPIO21

# Example configuration entry
ld2410:
  - uart_id: uart_bus_ld2410

light:
  - platform: esp32_rmt_led_strip
    rgb_order: GRB
    pin: GPIO8
    num_leds: 1
    chipset: ws2812
    name: "My Light"

binary_sensor:
  - platform: ld2410
    has_target:
      name: Presence
    # has_moving_target:
    #   name: Moving Target
    # has_still_target:
    #   name: Still Target
    # out_pin_presence_status:
    #   name: Out pin presence status

sensor:
  # - platform: ld2410
  #   light:
  #     name: Light
  #   moving_distance:
  #     name: Moving Distance
  #   still_distance:
  #     name: Still Distance
  #   moving_energy:
  #     name: Move Energy
  #   still_energy:
  #     name: Still Energy
  #   detection_distance:
  #     name: Detection Distance
  #   g0:
  #     move_energy:
  #       name: G0 move energy
  #     still_energy:
  #       name: G0 still energy
  #   g1:
  #     move_energy:
  #       name: G1 move energy
  #     still_energy:
  #       name: G1 still energy
  #   g2:
  #     move_energy:
  #       name: G2 move energy
  #     still_energy:
  #       name: G2 still energy
  #   g3:
  #     move_energy:
  #       name: G3 move energy
  #     still_energy:
  #       name: G3 still energy
  #   g4:
  #     move_energy:
  #       name: G4 move energy
  #     still_energy:
  #       name: G4 still energy
  #   g5:
  #     move_energy:
  #       name: G5 move energy
  #     still_energy:
  #       name: G5 still energy
  #   g6:
  #     move_energy:
  #       name: G6 move energy
  #     still_energy:
  #       name: G6 still energy
  #   g7:
  #     move_energy:
  #       name: G7 move energy
  #     still_energy:
  #       name: G7 still energy
  #   g8:
  #     move_energy:
  #       name: G8 move energy
  #     still_energy:
  #       name: G8 still energy
  - platform: cozir
    uart_id: uart_bus
    id: my_cozir  # Required for calibration actions
    co2:
      name: "Cozir CO2"
    temperature:
      name: "Cozir Temperature"
      # Example configuration entry
      filters:
        - offset: -8.0
    humidity:
      name: "Cozir Humidity"
    update_interval: 60s
  - platform: bh1750
    name: "BH1750 Illuminance"
    address: 0x23
    update_interval: 60s

button:
  - platform: template
    name: "Calibrate Fresh Air (400ppm)"
    on_press:
      - lambda: 'id(my_cozir)->calibrate_fresh_air();'
      
  - platform: template
    name: "Calibrate Nitrogen (0ppm)"
    on_press:
      - lambda: 'id(my_cozir)->calibrate_nitrogen();'